:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232538;
  --mainYellow:#ffa400;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-family: 'Permanent Marker', cursive;
}

.text-blue{
  color: var(--mainBlue);
}

.text-light{
  color: var(--lightBlue);
}

.text-center {
  text-align: center;
}

.btn-balck{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark)  !important;
} 

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}